<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Installer.Properties.application" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Installer.Properties.application" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Installer.Properties.Settings>
            <setting name="RestoreFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCreateBackups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveOnApply" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveFile" serializeAs="String">
                <value />
            </setting>
        </Installer.Properties.Settings>
        <Installer.Properties.application>
            <setting name="restoreFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoCreateBackups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveOnApply" serializeAs="String">
                <value>False</value>
            </setting>
        </Installer.Properties.application>
    </userSettings>
    <applicationSettings>
        <Installer.Properties.Settings>
            <setting name="DefaultFile" serializeAs="String">
                <value>temporary.scu</value>
            </setting>
        </Installer.Properties.Settings>
        <Installer.Properties.application>
            <setting name="currentFile" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultFile" serializeAs="String">
                <value>temporary.ssc</value>
            </setting>
        </Installer.Properties.application>
    </applicationSettings>
</configuration>